*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Saira Condensed', sans-serif;
    background-color: white;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    position: relative;
    background-color: #29a6dc;
    padding: 100px 0;
}

.header h1, 
.header h2, 
.header h3 {
    color: white;
    text-transform: uppercase;
}

.header h2{
    font-size: 7.5rem;
    font-weight: bold;
}

.header h1{
    font-size: 3.75rem;
    font-weight: bold;
}

.header h3{
    font-size: 3.75rem;
    font-weight: normal;
}

.header button{
    height: 90px;
    border:1px solid white;
    background-color: transparent;
    font-size: 2.25rem;
    text-transform: uppercase;
    color: white;
    padding: 0 30px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 50px;
}

.header button:hover{
    background-color: white;
    color: black;
}

.header img{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 680px;
}

.www .www-item img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.www{
    padding-top: 50px;
    padding-bottom: 80px;
}

.www h2{
    font-size: 3.75rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    padding-bottom: 80px;
}

.www .www-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.www .www-item{
    flex-basis: 25%;
    text-align: center;
}

.www .www-item h4{
    font-size: 2.25rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
    padding-bottom: 30px;

    
}

.footer{
    background-color: darkcyan;
    text-align: center;
    padding: 20px 0;
    font-size: 1.3rem;
}

.projects{
    background-color: black;
    padding-bottom: 20px;
}

.projects h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 3,75rem;
    font-weight: bold;
    padding: 40px 0;
}

.projects-item{
    display: flex;
    margin-bottom: 40px;
}

.projects-image,
.projects-content{
flex-basis: 50%;
}
.projects-content{
    background-color: orangered;
    color: white;
}

.projects-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.projects-content h4{
font-size: 2.25rem;
font-weight: normal;
text-transform: uppercase;
padding: 50px 0 30px 50px;
}

.projects-content span{
    display: block;
    height: 1px;
    background-color: white;
    margin-right: 60px;
}

.projects-content p{
    padding: 30px 60px 50px 40px;
    font-size: 20px;
}

.change{
    order: 2;
}
.change1{
    background-color: skyblue;
}

.motto{
    /* background-image: url('/images/motto.jpg'); */
    background-color: red;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.motto-wraper{
    width: 60vw;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
    color:white;
}

.motto-bgcolour{
    background-color:rgba(0, 63, 114, 0.5);
}

.motto h2{
    color: white;
    text-transform: uppercase;
    font-size: 3,75rem;
}

.motto-text{
    font-size: 3rem;
    color:white;
}

.motto-author{
    color:white;
font-size: 1.5rem;
}

.hobyy div:nth-child(1){
    background-image: url('/images/hobby1.jpg');
}

.hobyy div:nth-child(2){
    background-image: url('/images/hobby2.jpg');
}

.hobyy div:nth-child(3){
    background-image: url('/images/hobby3.jpg');
}

.hobyy div:nth-child(4){
    background-image: url('/images/hobby4.jpg');
}

@media(max-width: 600px) {
    .container{
        width: 100%;
        margin: 0;
    }
    .header{
        padding-bottom: 0;
    }

    .header-wrapper{
        text-align: center;   
    }
    .header h2{
        font-size: 2.5rem;
        font-weight: bold;
    }
    
    .header h1{
        font-size: 1.25rem;
        font-weight: bold;
    }
    
    .header h3{
        font-size: 1.25rem;
        font-weight: normal;
    }

    .header button {
        height: 32px;
        font-size: 0.75rem;
    }

    .header .img-wrap{
        display: flex;
        justify-content: flex-end;
    }

    .header img{
        position: static;
        display: block;
        max-width: 80%;
        height: auto;
        padding-top: 50px;
    }
    
    .www h2{
        font-size: 2.25rem;
        padding-bottom: 50px;
    }
    
    .www .www-items{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        
    }

    .www .www-item h4{
        font-size: 1.5rem;
        line-height: auto;
    }

    .projects-item{
        display: block;
        margin-bottom: 40px;
    }

    .projects-image {
        height: 250px;
    }

    .projects h2{
        font-size: 32px;

    }

    .motto-wraper{
        width: 100vw;
        margin: 0;
        padding: 80px 0;
        text-align: center;
        color:white;
    }

    .motto h2{
        color: white;
        text-transform: uppercase;
        font-size: 2.25rem;
    }
    
    .motto-text{
        font-size: 1.75rem;
        color:white;
        padding: 80px 60px;
    }
    
    .motto-author{
        color:white;
    font-size: 1.25rem;
    }


}
